// HOME PAGE HEADER STYLING

.home {
    background-color: $secondary;
}

.home .wrapper {
    background-color: $secondary;
}

header .imgContainer {
    background-color: white;
    position: relative;
    left: 80px;
    top: 50px;
    img {
        height: 450px;
        width: 350px;
        position: relative;
        bottom: 10px;
        right: 10px;
    }
}

header .flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.mainTitle {
    display: flex;
}

.logoAddOn {
    position: relative;
    bottom: 60px;
    right: 120px;
}


// BLOG PAGE HEADER STYLING
.blog .wrapper {
    height: 25vh;
    padding-bottom: 50px;
    h1 {
        position: relative;
        top: 90%;
    }
}

.blog {
    background-image: url(../assets/blog-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// CONTACT PAGE HEADER STYLING
.contact .wrapper {
    height: 40vh;
    h1 {
        position: relative;
        top: 80%;
    }
}

.contact {
        background-image: url(../assets/contact-image-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}