// PORTRAIT TABLET AND SMALL DESKTOPS
@media (max-width: 940px) {
    // HOME PAGE
    .home .wrapper 
    h1 {
        font-size: 3rem;
    }
    .mainTitle {
        position: relative;
        left: 14%;
    }

    // CONTACT PAGE
    .contact .Header {
        text-align: center;
    }
    .contactPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        .box {
            margin-bottom: 25px;
        }
    }
}

// LANDSCAPE PHONE TO PORTRAIT TABLET
@media (max-width: 768px) {    

    // HOME PAGE
    .home .flexContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 90vh;
    }

    .whosHarper .wrapper {
        h2, p, a {
            margin: 0 auto;
        }
    }  

    .PhotoAbout, .BlogContact {
        display: flex;
        flex-direction: column;
        padding: 5px 5px;
    }
    .contact .Header {
        height: 20vh;
        h1 {
            position: inherit;
            font-size: 3.5rem;
        }
    }

    // BLOG PAGE 
    .Aside {
        flex-direction: column;
        align-items: center;
        div {
            width: 75%;
        }
    }

    .flexContainer1, .flexContainer2 {
        margin-left: 17%;
    }
}

// LANDSCAPE PHONES AND DOWN
@media (max-width: 480px) {
    
    // HOME PAGE
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .Travels {
        flex-direction: column;
        align-items: center;
        .flexTravels {
            width: 100%;
        }
    }

    .Favourites {
        flex-direction: column-reverse;
        align-items: center;
        .flexFavourites {
            width: 100%;
            margin-left: 20px;
        }
    }

    .journey .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .gallery ul {
        flex-direction: column;
        align-items: center;
        li{
            margin-top: 10px;            
        }
    }

    // BLOG PAGE
    .blog .headerContent {
        text-align: center;
        height: 15vh;
        h1 {
            font-size: 3.5rem;
        }
    }
}