// PORTRAIT TABLET AND SMALL DESKTOPS
@media (max-width: 940px) {
    // HOME PAGE
    .home .wrapper 
    h1 {
        font-size: 4rem;
    }

    .mainTitle {
        position: relative;
        left: 10%;
    }

    // CONTACT PAGE
    .contact .Header {
        text-align: center;
    }
    .contactPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        .box {
            margin-bottom: 25px;
        }
    }
}
@media (min-width: 940px) {
    .mainTitle {
        position: relative;
        left: 10%;
    }
}

// LANDSCAPE PHONE TO PORTRAIT TABLET
@media (max-width: 768px) {    

    // HOME PAGE
    .home .flexContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .whosHarper .wrapper {
        h2, p, a {
            margin: 0 auto;
        }
        p {
            margin-bottom: 20px;
        }
    }  

    .PhotoAbout, .BlogContact {
        display: flex;
        flex-direction: column;
        padding: 5px 5px;
    }

    // BLOG PAGE 
    .Aside {
        flex-direction: column;
        align-items: center;
        div {
            width: 75%;
        }
        .destinations {
            margin: 0;
        }
    }
    .Blog {
        margin-left: -10%;
    }
    .commentForm {
        margin-left: -20%;
    }
}

@media (max-width: 768px) {
    .flexContainer.Header {
        height: 80vh;
        align-items: center;
        .imgContainer {
            position: relative;
            left: -1%;
        }
        .mainTitle{
            position: relative;
            top: 8%;
        }
    }
    .journey .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .Writeup {
            width: 100%;
            }
        }
}
// LANDSCAPE PHONES AND DOWN
@media (max-width: 480px) {
    
    // HOME PAGE
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .Travels {
        flex-direction: column;
        align-items: center;
        .flexTravels {
            width: 100%;
        }
    }

    .Favourites {
        flex-direction: column-reverse;
        align-items: center;
        .flexFavourites {
            width: 100%;
            margin-left: 20px;
        }
    }

    .gallery ul {
        flex-direction: column;
        align-items: center;
        li{
            margin-top: 10px;            
        }
    }

    // BLOG PAGE
    .blog .headerContent {
        text-align: center;
        height: 15vh;
        h1 {
            font-size: 3.5rem;
        }
    }

    // CONTACT PAGE
    .contact .wrapper {
        h1 {
            position: inherit;
            padding-top: 30px;
        }
    }

}