.skipLink {
    font-size: 1rem;
    padding: 10px;
    background-color: $quinary;
    color: $primary;
    position: absolute;
    top: 0;
    z-index: 999;
    text-align: center;
    width: 100%;
    left: -100%;

    &:focus {
        left: 0;
    }
}

// NAV BAR STYLING
.menu {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: $secondary;
  margin: 0 auto;
  li {
    cursor: pointer;
    transform: 0.3s;
    &:hover {
    color: $tertiary;
    } 
    }
}