// HOME PAGE - SECTION STYLING
.whosHarper .wrapper {
    background-color: $tertiary;
    padding: 50px;
}

.PhotoAbout, .BlogContact {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: $tertiary;
    .wrap {
        display: flex;
    }
}

.travels .wrapper {
    background-color: white;
}

.Travels, .Favourites  {
    display: flex;
    padding: 30px 20px;
}

.Travels {
    .imgContainer {
        background-color: $duskblue;
    }
}

.Favourites {
    .imgContainer {
        background-color: $quinary;
    }
}

.journey .wrapper {
    background-color: $tertiary;
    display: flex;
    align-items: center;
    padding: 50px;
    .Writeup {
        width: 75%;
        margin-left: 40px;
    }
    .imgContainer {
        background-color: $duskblue;
        height: 50%;
        img {
            position: relative;
            bottom: 10px;
            right: 10px;
        }
    }
} 

.gallery {
    ul {
        display: flex;
        li {
            margin-right: 20px;
        }
    }
}

// BLOG PAGE STYLING
.blogHTML {
    background: $tertiary;
}
.destinationSection{
    margin-top: 50px;
}
.destinations, .aboutHarper, .recents, .flexContainer1, .flexContainer2 {
    background-color: white;
} 

.Aside {
    display: flex;
    .destinations {
        margin-left: 50px;
        padding: 20px;
    }
}

.aboutHarper, .recents {
    padding: 20px 20px 0;
    width: 125%;
    li {
        list-style: disc;
    }
}

.flexContainer1, .flexContainer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
    div {
        margin-left: 15px;
    }
    img {
        width: 100px;
        height: 100px;
    }
}

.commentForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
    div {
        display: flex;
        margin-bottom: 10px;
    }
    #name, #email {
        width: 50%;
    }
    #name {
        margin-right: 10px;
    }
}
// FOOTER STYLING

footer {
    background-color: $primary;
    color: $tertiary;
    text-align: center;
    margin-top: 5px;
}