html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 125%;
}

h1, h2, h3, h4, nav, a, button {
  font-family: "Oswald";
  margin: 0;
}

p {
  font-family: "Cabin";
  line-height: 32px;
  letter-spacing: 0px;
}

h1 {
  font-size: 5rem;
  line-height: 92px;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.6rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 2rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

a, button {
  line-height: 32px;
  letter-spacing: 1px;
}

nav {
  line-height: 29px;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.logo {
  font-size: 1.5rem;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  background-color: #f38d8d;
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}
button:hover {
  background-color: #171717;
  color: white;
}
button:focus {
  background-color: #171717;
  color: white;
}

a.button {
  background-color: #f38d8d;
  padding: 5px 25px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #171717;
}
a.button:hover {
  background-color: #b9dde7;
}
a.button:focus {
  background-color: #b9dde7;
}
a.selected {
  color: #f6f6f6;
}

.Icons i, .Icons a {
  color: #227284;
}

.PhotoAbout i,
.BlogContact i {
  border: 1px solid black;
  border-radius: 30%;
  padding: 0.4em;
  background-color: #b9dde7;
  margin-right: 20px;
}

.skipLink {
  font-size: 1rem;
  padding: 10px;
  background-color: #68b0c1;
  color: #171717;
  position: absolute;
  top: 0;
  z-index: 999;
  text-align: center;
  width: 100%;
  left: -100%;
}
.skipLink:focus {
  left: 0;
}

.navBar {
  background-color: #b9dde7;
}

.menu {
  padding-top: 10px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}
.menu li {
  cursor: pointer;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}
.menu li:hover {
  color: #f6f6f6;
}

.home {
  background-color: #b9dde7;
}

.home .wrapper {
  background-color: #b9dde7;
}

header .imgContainer {
  background-color: white;
  position: relative;
  left: 80px;
  top: 50px;
}
header .imgContainer img {
  height: 450px;
  width: 350px;
  position: relative;
  bottom: 10px;
  right: 10px;
}

header .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logoAddOn {
  position: relative;
  bottom: 60px;
  right: 120px;
}

.blog .wrapper {
  height: 25vh;
  padding-bottom: 50px;
}
.blog .wrapper h1 {
  position: relative;
  top: 175%;
}

.blog {
  background-image: url(../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.contact .wrapper {
  height: 40vh;
}
.contact .wrapper h1 {
  position: relative;
  top: 80%;
}

.contact {
  background-image: url(../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.whosHarper .wrapper {
  padding: 50px;
}
.whosHarper .wrapper h2, .whosHarper .wrapper p, .whosHarper .wrapper a {
  margin-left: 50%;
}

.whosHarper {
  background-color: #f6f6f6;
}

.PhotoAbout, .BlogContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
  background-color: #f6f6f6;
}
.PhotoAbout .wrap, .BlogContact .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travels .wrapper {
  background-color: white;
}

.Travels, .Favourites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  margin-bottom: 20px;
}

.Travels {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Travels .flexTravels {
  width: 40%;
  margin-left: 20px;
}
.Travels .imgContainer {
  background-color: #227284;
  width: 60%;
}
.Travels .imgContainer img {
  position: relative;
  width: 95%;
  left: 4%;
  bottom: 50px;
}

.about {
  background-color: #f6f6f6;
}

.Favourites .flexFavourites {
  width: 40%;
  margin-right: 20px;
}
.Favourites .imgContainer {
  background-color: #68b0c1;
  width: 60%;
  margin-left: 20px;
}
.Favourites .imgContainer img {
  position: relative;
  width: 95%;
  right: 3%;
  bottom: 30px;
}

.journey .wrapper {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}
.journey .wrapper .Writeup {
  width: 75%;
  margin-left: 40px;
}
.journey .wrapper .imgContainer {
  background-color: #227284;
  height: 50%;
}
.journey .wrapper .imgContainer img {
  position: relative;
  bottom: 10px;
  right: 10px;
}

.journey {
  background-color: #f6f6f6;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery ul li {
  margin-right: 20px;
}

.blogHTML {
  background-color: #f6f6f6;
}

.destinationSection {
  margin-top: 50px;
}

article, .aboutHarper, .recents {
  background-color: white;
}

.Aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Aside .destinations {
  margin-left: 10%;
  padding: 20px;
}

.aboutHarper, .recents {
  padding: 20px 20px 0;
  width: 125%;
  margin-left: 10%;
}
.aboutHarper li, .recents li {
  list-style: disc;
}

article {
  border-bottom: 5px solid #227284;
}

.flexContainer1, .flexContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 23.5%;
  width: 76.5%;
}
.flexContainer1 div, .flexContainer2 div {
  margin-left: 15px;
}
.flexContainer1 img, .flexContainer2 img {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 10px;
}
.commentForm .wrapper {
  margin-left: 28%;
  width: 64%;
}
.commentForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.commentForm #name, .commentForm #email {
  width: 50%;
}
.commentForm #name {
  margin-right: 10px;
}

.contactHTML {
  background-color: #f6f6f6;
}

.contactPage {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contactPage .box {
  background-color: white;
  padding: 30px;
  margin-right: 20px;
}
.contactPage .box i {
  margin-right: 10px;
}

.contactBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
.contactBox span {
  display: block;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 400px;
}
.contactForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.contactForm #name, .contactForm #email {
  width: 50%;
}
.contactForm #name {
  margin-right: 10px;
}

footer {
  background-color: #171717;
  color: #f6f6f6;
  text-align: center;
  padding: 1px;
  margin-top: 20px;
}

@media (max-width: 940px) {
  .home .wrapper h1 {
    font-size: 4rem;
  }
  .mainTitle {
    position: relative;
    left: 10%;
  }
  .contact .Header {
    text-align: center;
  }
  .contactPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .contactPage .box {
    margin-bottom: 25px;
  }
}
@media (min-width: 940px) {
  .mainTitle {
    position: relative;
    left: 10%;
  }
}
@media (max-width: 768px) {
  .home .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flexContainer.Header {
    height: 90vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flexContainer.Header .imgContainer {
    position: relative;
    left: -1%;
  }
  .flexContainer.Header .mainTitle {
    position: relative;
    top: 10%;
  }
  .journey .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .journey .wrapper .Writeup {
    width: 100%;
  }
  .whosHarper .wrapper h2, .whosHarper .wrapper p, .whosHarper .wrapper a {
    margin: 0 auto;
  }
  .whosHarper .wrapper p {
    margin-bottom: 20px;
  }
  .Travels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Travels .flexTravels {
    width: 100%;
  }
  .Favourites {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Favourites .flexFavourites {
    width: 100%;
    margin-left: 20px;
  }
  .PhotoAbout, .BlogContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 5px;
  }
  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery ul li {
    margin-top: 10px;
  }
  .Aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Aside div {
    width: 75%;
  }
  .Aside .destinations {
    margin: 0;
  }
  .Blog {
    margin-left: -10%;
  }
  .commentForm {
    margin-left: -20%;
  }
}
@media (max-width: 480px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog .headerContent {
    text-align: center;
    height: 15vh;
  }
  .blog .headerContent h1 {
    font-size: 3.5rem;
  }
  .destinations h2 {
    font-size: 1.5rem;
  }
  .contact .wrapper h1 {
    position: inherit;
    padding-top: 30px;
    font-size: 3rem;
  }
}